/*lien fiche détaillée*/

* {
    margin: 3px;
    padding: 3px;
}

h3{
    line-height: 2;
}

body {
    font-family: Arial; /*police d'écriture du texte*/
    background-color: #fff1c6; /*arrière plan du site*/
    margin: auto;
}


/*Pour le header*/
header {
    background-color: #bf7cee; /*Couleur de l'entête*/
    color: #ffffff; /*Couleur du texte de l'entête*/
    font-weight: bold;
    width: 99%;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


a main{
text-decoration: none;
color: #d400ff;
}


.ordi {
    
/* Couleur de fond */
background-color: rgb(251, 220, 255);

    /* Pour la police */
    color:white;
    text-align: center;
    font-size: x-large;
    /*line-height: 100px;*/

    /*Pour la taille */
    width: 450px;
    height: 500px; 

    /* Pour les coins */
    border-radius: 15px; 
    /* Marges */
    margin: 15px;

    /*pour avoir les carrées à côté*/
    display: inline-block;

    transition: all 0.5s ;/*transform 1s, background-color 2s*/
    
}



.ordi:hover{
    transform: scale(1.05); /*grossir legèrement l'icône*/
    background-color: rgb(250, 206, 229);
    /*exemple --> animation: esaip-transparent 3s;*/
}

.ordi img{
    border-radius: 15px;

}


/*POUR LES BOUTONS*/
.bouton main{ /*bouton voir plus*/
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #6d18a8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.bouton:hover main{ /*change la couleur quand on passe la souris*/
    background-color: #ff0390;
}

.bouton1 main{ /*bouton voir plus*/
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    /*background-color: #6d18a8;*/
    color: #6d18a8;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    bottom: -40px;
    left: 100px;
}

.bouton1:hover main{ /*change la couleur quand on passe la souris*/
    background-color: #edb7d6;
}


/*POUR LA FORME DE LA PAGE*/
body {
    font-family: Arial; /*police d'écriture du texte*/
    background-color: #fff1c6; /*arrière plan du site*/
    max-width: 1920px;
    min-width : 520px;
    margin: auto;
}



header {
    background-color: #bf7cee; /*Couleur de l'entête*/
    color: #ffffff; /*Couleur du texte de l'entête*/
    font-weight: bold;
    width: 99%;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none; /*enlève les points dans la liste*/
}

nav a {
    color: #ffffff;
    text-decoration: none; /*enlève le soulignement*/
}


section { /*bloc*/
    background-color: white;
    margin: 20px 0;
    padding:20px;
    border-radius: 5px;
}


.bouton { /*bouton voir plus*/
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #6d18a8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.bouton:hover { /*change la couleur quand on passe la souris*/
    background-color: #ff0390;
}



footer {
    background-color: #bf7cee;
    color: white;
    padding: 15px;
    margin-top: 20px;

    margin: auto;

    display: flex;
    align-items: center;
    width: 99%;
}

footer  div {
    flex: 1;
}


.footer-left{
    text-align: left;
    line-height:1.5;
}


.footer-center {
    text-align: center;
    margin: 0;
}

.footer-right {
    text-align: right;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 0.6;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}
