body {
    font-family: Arial;
    background-color: #fff1c6;
    max-width: 1920px;
    min-width: 520px;
    margin: auto;
}


.produit img {
    max-width: 100%;
}

.mini-galerie {
    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid #ccc;
    padding: 8px;
    width: fit-content;

    position: relative;

    background-color: white;
}

.mini-galerie img {
    width: 40px;
    height: auto;
}

.mini-galerie span {
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.details {
    border: 2px solid black;
    border-radius: 12px;
    padding: 2%;
    background-color: #fdf8eb;
}

.achat {
    border: 2px solid black;
    border-radius: 12px;
    padding: 2%;
    background-color: #fdf8eb;
}

.avantages {
    border: 2px solid black;
    border-radius: 12px;
    padding: 2%;
    background-color: #fdf8eb;
}

.avantages p {

    text-align: center;
    background-color: #fdf8eb;
}

footer {
    background-color: #bf7cee;
    color: white;
    padding: 15px;
    margin-top: 20px;

    margin: auto;

    display: flex;
    align-items: center;
    width: 99%;
}

footer div {
    flex: 1;
}


.footer-left {
    text-align: left;
    line-height: 1.5;
}


.footer-center {
    text-align: center;
    margin: 0;
}

.footer-right {
    text-align: right;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 0.6;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

header {
    background-color: #bf7cee;
    /*Couleur de l'entête*/
    color: #ffffff;
    /*Couleur du texte de l'entête*/
    font-weight: bold;
    width: 99%;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    /*enlève les points dans la liste*/
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    /*enlève le soulignement*/
}